{% extends "layout.html"%}
{% block title %}
    Index
{% endblock %}

{% block body %}
<div style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%;">
    <h1>Hi! Please enter your suggestions</h1>
</div>
<form method="POST">
    <div style="text-align: center;">
        <textarea name="suggestions" rows="25" required></textarea>
    </div>
    <div style="text-align: center;">
        <button style="text-align: center;" type="submit" name="submit-button">Submit</button>
    </div>
    </form>
{% endblock %}